@tailwind base;
@tailwind components;
@tailwind utilities;
@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    margin: 0 !important;
    padding: 0 !important;
    background: white;
  }

  body * {
    visibility: hidden;
  }

  .a4-container, .a4-container * {
    visibility: visible;
  }

  .a4-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 210mm !important;
    min-height: 297mm !important;
    padding: 6mm 8mm !important;
    margin: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }

  .print-hidden {
    display: none !important;
  }
}